<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/KITtop.css">
    <title>Document</title>
</head>
<body>
    <header>
        <p>KITTABEROGU</p>
        <p>検索</p>
    </header>
    <div class="profile-contents">
        <div class="first-contents">
            <p>食べログの投稿を閲覧</p>
            
        </div>
        <div class="second-contents">
            <h1>食べログを投稿する</h1>
            <a href="index.html">こちらから</a>
        </div>
        <div class="third-contents">
            <h1>利用シーンから探す</h1>
            <img src="hitori.jpg" class="third">
            <p>おひとり様</p>

            <img src="kazoku.jpg" class="third">
            <p>家族と</p>
            <img src="de-to.jpg" class="third">
            <p>デート</p>
            <img src="josikai.jpg" class="third">
            <p>女子会</p>
            <img src="goukon.jpg" class="third">
            <p>合コン</p>
        </div>
        <div class="fourth-contents">
            <h1>こだわり条件から探す</h1>
            <img src="" alt="">
            <p>個室</p>
            <img src="" alt="">
            <p>食べ放題</p>
            <img src="" alt="">
            <p>おしゃれな空間</p>
            <img src="" alt="">
            <p>飲み放題</p>
            <img src="" alt="">
            <p>ネット予約可</p>
        </div>
    </div>
</body>
</html>