<!DOCTYPE html>
<html>
<head>
    <title>Post locate</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <h1>店名と感想を入力して投稿</h1>
        <form method="POST" action="/add">
            <input type="text" name="title" id="title" placeholder="店の名前を入力" required>
            <input type="text" name="content" id="content" placeholder="感想を入力" required> <br>
            <button type="submit">投稿</button>
        </form>
    </div>
</body>
</html>
